.box{
  height: 12px;
  width: 40px;
  background-color: #00b7cd;
animation-name: slide;
animation-duration: 6s;
animation-iteration-count: infinite;

}
@keyframes slide {
  from{
    transform: translatex(0px);
  }
  to{
    transform: translateX(600px);
  }
  
}


